<!DOCTYPE html>
<html>

<head>
  <title>En cascada</title>
  <link href="/css/fichero.css" rel="stylesheet" type="text/css">
  <script src="/script/fichero.js" language="javascript" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body id="cuerpo">
  <br>
  <h2 id="titulo">En cascada</h2>
  <br>
  <p id="texto2"> Identifique la primera palabra y la ultima de cada bloque con las pistas que se dan. A
    continuación,<br>
    trate de descubrir las palabras intermedias. Para lograrlo, cambie una letra de la primera palabra<br>
    para obtener la próxima y, después, altere el orden de una o varias letras para encontrar la siguiente.<br>
    Siga así. sucesivamente, hasta que logre completar ambos casilleros. Todas las palabras intermedias<br>
    deben tener signidicado.
  </p>

  <table>
    <tr>
      <td> </td>
      <td><input type="text" id="letra1" name="letra1" maxlength="1"></td>
      <td><input type="text" id="letra2" name="letra2" maxlength="1"></td>
      <td><input type="text" id="letra3" name="letra3" maxlength="1"></td>
      <td><input type="text" id="letra4" name="letra4" maxlength="1"></td>
      <td><b>1</b></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" id="letra5" name="letra5" maxlength="1"></td>
      <td><input type="text" id="letra6" name="letra6" maxlength="1"></td>
      <td><input type="text" id="letra7" name="letra7" maxlength="1"></td>
      <td><input type="text" id="letra8" name="letra8" maxlength="1"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" id="letra9" name="letra9" maxlength="1"></td>
      <td><input type="text" id="letra10" name="letra10" maxlength="1"></td>
      <td><input type="text" id="letra11" name="letra11" maxlength="1"></td>
      <td><input type="text" id="letra12" name="letra12" maxlength="1"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" id="letra13" name="letra13" maxlength="1"></td>
      <td><input type="text" id="letra14" name="letra14" maxlength="1"></td>
      <td><input type="text" id="letra15" name="letra15" maxlength="1"></td>
      <td><input type="text" id="letra16" name="letra16" maxlength="1"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" id="letra17" name="letra17" maxlength="1"></td>
      <td><input type="text" id="letra18" name="letra18" maxlength="1"></td>
      <td><input type="text" id="letra19" name="letra19" maxlength="1"></td>
      <td><input type="text" id="letra20" name="letra20" maxlength="1"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" id="letra21" name="letra21" maxlength="1"></td>
      <td><input type="text" id="letra22" name="letra22" maxlength="1"></td>
      <td><input type="text" id="letra23" name="letra23" maxlength="1"></td>
      <td><input type="text" id="letra24" name="letra24" maxlength="1"></td>
      <td><b>2</b></td>
    </tr>
    <tr>
      <td><b>3</b></td>
      <td><input type="text" id="letra25" name="letra25" maxlength="1"></td>
      <td><input type="text" id="letra26" name="letra26" maxlength="1"></td>
      <td><input type="text" id="letra27" name="letra27" maxlength="1"></td>
      <td><input type="text" id="letra28" name="letra28" maxlength="1"></td>
      <td><input type="text" id="letra29" name="letra29" maxlength="1"></td>
      <td><input type="text" id="letra30" name="letra30" maxlength="1"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" id="letra31" name="letra31" maxlength="1"></td>
      <td><input type="text" id="letra32" name="letra32" maxlength="1"></td>
      <td><input type="text" id="letra33" name="letra33" maxlength="1"></td>
      <td><input type="text" id="letra34" name="letra34" maxlength="1"></td>
      <td><input type="text" id="letra35" name="letra35" maxlength="1"></td>
      <td><input type="text" id="letra36" name="letra36" maxlength="1"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" id="letra37" name="letra37" maxlength="1"></td>
      <td><input type="text" id="letra38" name="letra38" maxlength="1"></td>
      <td><input type="text" id="letra39" name="letra39" maxlength="1"></td>
      <td><input type="text" id="letra40" name="letra40" maxlength="1"></td>
      <td><input type="text" id="letra41" name="letra41" maxlength="1"></td>
      <td><input type="text" id="letra42" name="letra42" maxlength="1"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" id="letra43" name="letra43" maxlength="1"></td>
      <td><input type="text" id="letra44" name="letra44" maxlength="1"></td>
      <td><input type="text" id="letra45" name="letra45" maxlength="1"></td>
      <td><input type="text" id="letra46" name="letra46" maxlength="1"></td>
      <td><input type="text" id="letra47" name="letra47" maxlength="1"></td>
      <td><input type="text" id="letra48" name="letra48" maxlength="1"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" id="letra49" name="letra49" maxlength="1"></td>
      <td><input type="text" id="letra50" name="letra50" maxlength="1"></td>
      <td><input type="text" id="letra51" name="letra51" maxlength="1"></td>
      <td><input type="text" id="letra52" name="letra52" maxlength="1"></td>
      <td><input type="text" id="letra53" name="letra53" maxlength="1"></td>
      <td><input type="text" id="letra54" name="letra54" maxlength="1"></td>
    </tr>
    <tr>
      <td><b>4</b></td>
      <td><input type="text" id="letra55" name="letra55" maxlength="1"></td>
      <td><input type="text" id="letra56" name="letra56" maxlength="1"></td>
      <td><input type="text" id="letra57" name="letra57" maxlength="1"></td>
      <td><input type="text" id="letra58" name="letra58" maxlength="1"></td>
      <td><input type="text" id="letra59" name="letra59" maxlength="1"></td>
      <td><input type="text" id="letra60" name="letra60" maxlength="1"></td>
    </tr>
  </table>
  <p id="texto1"><b>1. Familia en Escocia. 2. Tristeza y dolor por algo.<br>
      3. Termino algo definitivamente. 4. El que torea</b>
  </p>
  <br><br>
  <button id="boton" type="button" onclick="comprobarFilas();">Resolver</button>
  <button id="limpiar" name="limpiar" onclick="limpiar()">Limpiar tablero</button>
  <br><br>
  <input type="text" id="pistas" maxlength="6">
  <button id="generarPistas" name="Pistas" onclick="buscarPistas()">Obtener una pista</button>
  <br><br>
  <textarea id="areaPistas" readonly="readonly"></textarea>
  <br><br>
  <button id="guardarTablero" name="Guardar" onclick="guardarTablero()">Guardar el tablero</button>
  <button id="cargarTablero" name="Cargar" onclick="cargarTablero()">Cargar el tablero</button>
  <button id="borrarAlmacenamiento" name="Borrar" onclick="borrarAlmacenamiento()">Borrar el tablero guardado</button>

  <div id="div-cookies" style="display: none;">
    Necesitamos usar cookies para que funcione todo, si permanece aquí acepta su uso, más información en
    <a hreflang="es" href="/info/aviso-legal">Aviso Legal</a>
    y la
    <a hreflang="es" href="/info/politica-de-privacidad">Política de Privacidad</a>.
    <button type="button" class="btn btn-sm btn-primary" onclick="acceptarCookies()">
      Acepto el uso de cookies
    </button>
  </div>
  <script>
    function checkAcceptCookies() {
      if (localStorage.acceptCookies == 'true') {
      } else {
        $('#div-cookies').show();
      }
    }
    $(document).ready(function () {
      checkAcceptCookies();
    });
  </script>

</body>

</html>