.u-section-1 {
  background-image: url("images/9849.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1756px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px 427px 0 447px;
}

.u-section-1 .u-icon-1 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 53px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -35px 114px 0 926px;
}

.u-section-1 .u-products-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 1501px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/9849.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 14px 30px 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-image-2 {
  width: 247px;
  height: 211px;
  animation-duration: 1000ms;
  margin: 9px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 158px 0 153px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 9px auto 0 103px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 33px 28px 0 96px;
}

.u-section-1 .u-image-3 {
  height: 202px;
  width: 247px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 46px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 40px 12px 0 96px;
}

.u-section-1 .u-image-4 {
  height: 210px;
  width: 259px;
  margin: 5px 37px 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 160px 0 155px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 9px auto 0 107px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 30px 28px 0 96px;
}

.u-section-1 .u-image-5 {
  height: 210px;
  width: 259px;
  margin: 11px 37px 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 154px 0 171px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
  padding: 8px 30px 9px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/9849.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 13px 14px 30px 10px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-image-7 {
  width: 247px;
  height: 211px;
  animation-duration: 1000ms;
  margin: 9px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 158px 0 153px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 9px auto 0 103px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 33px 28px 0 96px;
}

.u-section-1 .u-image-8 {
  height: 202px;
  width: 247px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 46px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px auto 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 40px 12px 0 96px;
}

.u-section-1 .u-image-9 {
  height: 210px;
  width: 259px;
  margin: 5px 37px 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 160px 0 155px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 9px auto 0 107px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 30px 28px 0 96px;
}

.u-section-1 .u-image-10 {
  height: 210px;
  width: 259px;
  margin: 11px 37px 0 auto;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 154px 0 171px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
  padding: 8px 30px 9px;
}

.u-section-1 .u-image-11 {
  background-image: url("images/9849.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 13px 14px 30px 10px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-image-12 {
  width: 247px;
  height: 211px;
  animation-duration: 1000ms;
  margin: 9px auto 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 158px 0 153px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 9px auto 0 103px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 33px 28px 0 96px;
}

.u-section-1 .u-image-13 {
  height: 202px;
  width: 247px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 46px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 15px auto 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 40px 12px 0 96px;
}

.u-section-1 .u-image-14 {
  height: 210px;
  width: 259px;
  margin: 5px 37px 0 auto;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 160px 0 155px;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 9px auto 0 107px;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  margin: 30px 28px 0 96px;
}

.u-section-1 .u-image-15 {
  height: 210px;
  width: 259px;
  margin: 11px 37px 0 auto;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 154px 0 171px;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
  padding: 8px 30px 9px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#a35559, #1a1a1a);
  margin: 20px 389px 60px auto;
  padding: 18px 77px 20px 76px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1678px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 352px;
    margin-left: 347px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 826px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    min-height: 520px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 58px;
    margin-left: 53px;
    width: 46px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 231px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 60px;
    margin-left: 55px;
    width: 40px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 73px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 73px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -260px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 240px;
    margin-right: 58px;
    margin-left: 53px;
    width: 46px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 60px;
    margin-left: 55px;
    width: 40px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 73px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 58px;
    margin-left: 53px;
    width: 46px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 60px;
    margin-left: 55px;
    width: 40px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 54px;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 270px;
    margin-left: 237px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 620px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 203px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 440px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 128px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 72px;
    margin-left: 240px;
  }
}