.u-section-1 .u-sheet-1 {
  min-height: 512px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 38px 438px 0 529px;
}

.u-section-1 .u-form-1 {
  height: 345px;
  margin: 8px 8px 0 562px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: -361px auto 60px 104px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 338px;
    margin-left: 429px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-left: 370px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 228px;
    margin-left: 319px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 138px;
    margin-left: 229px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 38px;
    margin-left: 129px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }

  .u-section-1 .u-form-group-5 {
    width: 100%;
  }

  .u-section-1 .u-image-1 {
    margin-left: 40px;
  }
}