.u-section-1 {
  background-image: url("images/9849.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1874px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 23px 404px 0 437px;
}

.u-section-1 .u-icon-1 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: -11px 47px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -35px 108px 0 932px;
}

.u-section-1 .u-products-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 1663px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/9849.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 25px 10px;
}

.u-section-1 .u-text-3 {
  width: 125px;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-image-2 {
  width: 247px;
  height: 223px;
  animation-duration: 1000ms;
  margin: 10px auto 0 53px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 139px 0 155px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 8px 95px 0 auto;
  padding: 8px 30px 9px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 64px 69px 0 116px;
}

.u-section-1 .u-image-3 {
  height: 230px;
  width: 247px;
  margin: 10px auto 0 50px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px 139px 0 155px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 95px 0 auto;
  padding: 8px 30px 9px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 43px 95px 0 120px;
}

.u-section-1 .u-image-4 {
  height: 230px;
  width: 259px;
  margin: 11px auto 0 51px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px 140px 0 160px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px auto 0 107px;
  padding: 8px 30px 9px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 53px 98px 0 117px;
}

.u-section-1 .u-image-5 {
  height: 228px;
  width: 259px;
  margin: 16px auto 0 50px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 142px 0 160px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 18px auto 0 107px;
  padding: 8px 30px 9px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/9849.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 25px 10px;
}

.u-section-1 .u-text-11 {
  width: 125px;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-image-7 {
  width: 247px;
  height: 223px;
  animation-duration: 1000ms;
  margin: 10px auto 0 53px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 139px 0 155px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 8px 95px 0 auto;
  padding: 8px 30px 9px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 64px 69px 0 116px;
}

.u-section-1 .u-image-8 {
  height: 230px;
  width: 247px;
  margin: 10px auto 0 50px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px 139px 0 155px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 95px 0 auto;
  padding: 8px 30px 9px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 43px 95px 0 120px;
}

.u-section-1 .u-image-9 {
  height: 230px;
  width: 259px;
  margin: 11px auto 0 51px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px 140px 0 160px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px auto 0 107px;
  padding: 8px 30px 9px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 53px 98px 0 117px;
}

.u-section-1 .u-image-10 {
  height: 228px;
  width: 259px;
  margin: 16px auto 0 50px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 142px 0 160px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 18px auto 0 107px;
  padding: 8px 30px 9px;
}

.u-section-1 .u-image-11 {
  background-image: url("images/9849.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 25px 10px;
}

.u-section-1 .u-text-19 {
  width: 125px;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-image-12 {
  width: 247px;
  height: 223px;
  animation-duration: 1000ms;
  margin: 10px auto 0 53px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 139px 0 155px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 8px 95px 0 auto;
  padding: 8px 30px 9px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 64px 69px 0 116px;
}

.u-section-1 .u-image-13 {
  height: 230px;
  width: 247px;
  margin: 10px auto 0 50px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px 139px 0 155px;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 95px 0 auto;
  padding: 8px 30px 9px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 43px 95px 0 120px;
}

.u-section-1 .u-image-14 {
  height: 230px;
  width: 259px;
  margin: 11px auto 0 51px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px 140px 0 160px;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px auto 0 107px;
  padding: 8px 30px 9px;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  margin: 53px 98px 0 117px;
}

.u-section-1 .u-image-15 {
  height: 228px;
  width: 259px;
  margin: 16px auto 0 50px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 142px 0 160px;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 18px auto 0 107px;
  padding: 8px 30px 9px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#a35559, #1a1a1a);
  margin: 16px auto 39px;
  padding: 18px 77px 20px 76px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1678px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 352px;
    margin-left: 337px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
    margin-left: 832px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    min-height: 520px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 39px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
    width: 125px;
  }

  .u-section-1 .u-image-3 {
    height: 231px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 39px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: 125px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 40px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: 125px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 73px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 39px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
    width: 125px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 39px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    width: 125px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 40px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    width: 125px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 73px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 39px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 39px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    width: 125px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 40px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    width: 125px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 42px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 270px;
    margin-left: 227px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 620px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 203px;
    margin-left: 137px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 440px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 128px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 97px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 97px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 97px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 97px;
  }
}